@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* HIDES SCROLLBAR IN CHROME */
::-webkit-scrollbar { 
    display: none; 
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: hidden;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    /*background: #3c586d;*/
    background: #5c746b;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    /*background: #1c3141;*/
    background: #465852;
    text-align: center;
}

#sidebarButtons {
    padding: 20px;
}

#nodeList {
    height: 65vh;
    overflow: hidden;
    overflow-y: scroll;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #646464;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #999999;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #384742;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(255, 255, 255);
    color: #3c586d;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.refreshNodes {
    background: #fff;
    color: #384742;
}

a.sortNodes, a.sortNodes:hover {
    background: #384742 !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100vw;
    padding: 20px;
    min-height: 100%;
    transition: all 0.3s;
    overflow: hidden;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

.footer, .push{
    height: 40px;
}

#usr {
    height: 100px;
    background-color: rgb(70, 70, 70);
    color: white;
}

#graph {
    padding: 20px;
    align-content: center;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
