<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true">
    <!--<statusListener class="ch.qos.logback.core.status.NopStatusListener" />-->
    <!--Disable logging for tests, enable for debugging -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %class{36}.%M %L- %msg%n
            </pattern>
        </encoder>
    </appender>


    <root  >
        <!--<appender-ref ref="CONSOLE" />-->
    </root>

</configuration>